# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# Specific folder to ignore
frontend/

# Operating System files
.DS_Store
Thumbs.db

